<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Opdracht "InhaalexamenPlanner"</title>
</head>
<body>
        <p>
        <script> 
        document.write(new Date().toLocaleDateString()); 
        document.write(" ");
        document.write(new Date().toLocaleTimeString());        
        </script>
        </p>

        Deze Aanvraag bestond al.
        <a href="/">Terug naar hoofdpagina</a>
</body>
</html>